<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div>
      <h2 class="mb-0">Tarefas</h2>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Tarefas</li>
        </ol>
      </nav>
    </div>
    <button class="btn-nova-tarefa" (click)="novaTarefa()">
      <i class="bi bi-plus-square"></i>
      Nova Tarefa
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Tarefa</th>
          <th scope="col">Prior.</th>
          <th scope="col">Projeto</th>
          <th scope="col">Status</th>
          <th scope="col">Respons.</th>
          <th scope="col">Deadline</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarefa of tarefas">
          <td>{{ tarefa.titulo }}</td>
          <td>
            <span class="badge" [ngClass]="{
                  'badge-alta': tarefa.prioridade === 'Alta',
                  'badge-media': tarefa.prioridade === 'Média',
                  'badge-baixa': tarefa.prioridade === 'Baixa'
                }">
              {{ tarefa.prioridade }}
            </span>
          </td>
          <td>{{ tarefa.projeto }}</td>
          <td>
            <span class="badge" [ngClass]="{
              'badge-concluido': tarefa.status === 'concluido',  
              'badge-pendente': tarefa.status === 'pendente'
            }">
              {{ tarefa.status }}
            </span>
          </td>           
          <td>{{ tarefa.responsaveis.join(', ') }}</td>
          <td>{{ tarefa.deadline | date: 'shortDate' }}</td>
          <td>
            <button class="btn btn-outline-danger btn-sm" (click)="abrirConfirmacaoModal(tarefa)">
              <i class="bi bi-trash"></i>
            </button>            
            <button class="btn btn-outline-primary btn-sm">
              <i class="bi bi-eye"></i>
            </button>
            <button class="btn btn-outline-secondary btn-sm" (click)="editarTarefa(tarefa)">
              <i class="bi bi-pencil"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-nova-tarefa-modal *ngIf="showModal"
  [tarefa]="tarefaEditando" 
  (salvar)="salvarTarefa($event)" 
  (cancelar)="cancelarEdicao()">
</app-nova-tarefa-modal>

<app-confirmacao-modal *ngIf="showConfirmacaoModal"
  (confirmado)="confirmarRemocao()"
  (cancelado)="cancelarRemocao()">
</app-confirmacao-modal>
