<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 sidebar vh-100 bg-purple">
      <div class="header">
        <button class="btn btn-no-style mr-2" (click)="toggleMenu()">
          <i class="bi bi-list text-white"></i>
        </button>
        <h2 class="mb-0 text-white">EsigGROUP</h2>
      </div>
      <ul class="nav flex-column" [class.collapse]="isMenuCollapsed">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/dashboard" routerLinkActive="active">
            <i class="bi bi-grid-fill"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/tarefas" routerLinkActive="active">
            <i class="bi bi-list-task"></i>
            Tarefas
          </a>
        </li>
      </ul>
    </div>

    <!-- Conteúdo principal -->
    <div class="col-md-9 bg-light content">
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
