:root {
    --cor-roxo: #6261B4;
  }
  
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow-x: hidden;
  }
  
  h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

